<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Error</title>

  
  <!-- Bootstrap Core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href={{url_for('static', filename='one-page-wonder.css')}}/>

</head>

<body id="page-top">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h3 class="mb-5">
        <div>&#x1F622; Not Found!</div>
      </h3>
      <h6>
          <a href="http://127.0.0.1:5000"class="btn btn-primary btn-xl rounded-pill mt-5">Home</a>
      </h6>

    </div>
    <div class="overlay"></div>
  </header>

  <!-- Bootstrap core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>